body{
    padding: 5px;
    width: 100vw;
}
.menu{
    height: 200px;
}

.logo{
    position: relative;
    left: 350px;
    top: 80px;
    width: 100px;
}

.cb{
    float: right;
    margin-right: 250px;
    margin-top: 130px;
}

.edicao{
    margin-top: 50px;
    text-align: center;
}

.links{
    margin-right: 30px;
    text-align: center;
}

.img-principal{
    width: 300px;
    max-height: 30%;
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
}

.h3-principal{
    text-align: center;
}

.posts{
    position: relative;
    left: 35%;
    transform: translateX(-50%);
}

.h3{
    margin-top: 0px;
    text-align: center;
}

.secundario{
    margin: 10px;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 5px;
}

.p2{
    margin-left: 10px;
}