body{
    padding: 5px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu,
.edicao,
.introducao,
.principal,
.img-principal,
.posts-secundarios,
.links,
.depoimentos,
.paragrafo{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.menu{
    background-color: #D8A8FF;
    height: 200px;
    width: 50%;

}

.logo{
    
    left: 30px;
    position: relative;
    top: 30px;
    width: 150px;
}

.cb{
    font-size: 20px;
    left: 45%;
    position: relative;
    transform: translateX(-50%);
    top: 20px;    
    width: 200px;
}

.cbb{
    bottom: 20px;
    font-size: 20px;
    left: 68%;
    margin-right: 30px;
    position: relative;
    width: 200px;
}

.edicao, 
.introducao{
    background-color: #AF99E8;
    margin-top: 50px;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.introducao{
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.principal{
    background-color: #AF99E8;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.img-principal{
    max-height: 30%;
    width: 500px;
}

.h3-principal{
    text-align: center;
}

.posts-secundarios{
    background-color: #B5B5FF;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}

.links{
    background-color: #99AEE8;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}

.logos{
    display: inline-block;
    margin-left: 50px;
    width: 200px;
}

.redes-sociais{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.img{
	height: 200px;
    object-fit: cover;
    width: 200px;
}

.h3{
    margin-top: 0px;
    text-align: center;
}

.secundario{
    display: inline-block;
    margin: 10px;
}

.p2{
    margin-left: 10px;
}

.titulo-depoimentos{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.entidade,
.depoimento{
    padding-left: 5px;
}

.entidade{
    font-weight: bold;
}

.depoimento{
    font-style: italic;
}

.perguntas{
    font-weight: bold;
    text-align: center;
}

.paragrafo{
    padding: 0px 100px;
    text-align: justify;
    text-indent: 1.5em;
}

.p{
    background-color: #A8D6FF;
    left: 50%;
    margin: 10px 0px;
    padding: 10px;
    position: relative;
    transform: translateX(-50%);
    width: 50%;
}

.principal .p{
    background-color: transparent;
}

.depoimentos{
    background-color: rgb(201, 159, 255);
    margin: 10px 0px;
    padding: 10px;
    width: 50%;
}

.paragrafo-post{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

ul li{
    list-style: none;
}

.lista{
    text-align: center;
}

.ll img{
    width: 100px;
}

.llf img{
    position: relative;
    left: 43%;
    top: 60px;
    width: 50px;
}

.principal .p{
    text-align: center;
}

p{
    text-align: justify;
}